body {
  background-color: #3e67f9;
}

.course {
  background-color: white;
  border-radius: 30%;
  font-family: sans-serif;
  height: 250px;
  margin: auto;
  width: 500px;
}

h1 {
  color: white;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
}

h2 {
  color: black;
  font-style: sans-serif;
}
